/*Global*/
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}
*, 
*:before, 
*:after {
box-sizing: inherit;
}
img{ 
    max-width: 100%;
    display: block;
}
p{
    font-size: 3rem;
    color: white
}
h1, h2{
    font-size: 4rem;
}
p{
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: black;
}
.contenedor{
    max-width: 120rem;
    margin-inline: auto;
}
/*Cabecera*/
.cabecera{
    display: flex;
    /*background-color: coral;*/
    justify-content: space-between;
    min-height: 7rem;
    align-items: center;
}
.titulo img{
    object-fit: cover;
    height: 5rem;
}
.titulo{
    color:rgb(0, 0, 0);
    margin-top: 1.5rem;
    padding-left: 10rem;
    display: flex;
    align-items: center;
}
.navegacion-pagina{
    margin: 1rem;
    padding-top: 5px;
    border-top: 5px solid rgb(0, 0, 0);
    /*margin-inline-start: auto;    */
}
.nav-pagina{
    margin: 1rem;
    display: flex;
    align-content: 20rem 20rem 20rem 20rem;
    min-width: none;
    gap: 2rem;
    text-align: center;
}
.nav-pagina a{
    font-weight: 600;
    font-size: 2.5rem;
    color: #33a000;
}
.nav-pagina a:hover{
    color: aquamarine;
}
@media (max-width:800px){
    .titulo{
        padding-left: 0rem;
    }
    .nav-pagina{
        flex-direction: column;
    }
    .nav-pagina a{
        font-size: 1.75rem;
    }
    .cabecera{
        flex-direction: column;
    }
    html{
        font-size: small;
    }
    p{
        font-size: 2rem;
    }
    h2{
        font-size: 2.5rem;
    }
    


}
/*Main*/
body{
    font-family: "Raleway",sans-serif;
    font-size: 1.6rem;
    margin: 0;
    height: 100%;
    background: repeating-linear-gradient(
        190deg,
        rgba(25, 0, 116, 0.5) 4rem,
        rgb(1, 95, 107, 0.5)8rem, 
        rgba(0, 34, 126, 0.5)12rem,
        rgb(0, 66, 75, 0.5)16rem,
        rgb(44, 4, 192, 0.5) 20rem,
        rgb(11, 99, 110, 0.5)24rem, 
        rgb(31, 16, 243, 0.5)28rem,
        rgba(0, 27, 145, 0.5)30rem
        ), repeating-linear-gradient(
        -190deg,
        rgb(25, 0, 116, 0.5) 3rem,
        rgb(1, 83, 94, 0.5)6rem, 
        rgb(0, 34, 126, 0.5)9rem,
        rgb(0, 66, 75, 0.5)12rem,
        rgb(44, 4, 192, 0.5) 15rem,
        rgb(11, 99, 110, 0.5)18rem, 
        rgb(31, 16, 243, 0.5)21rem,
        rgba(0, 27, 145, 0.5)23rem
     ),repeating-linear-gradient(
        rgb(25, 0, 116, 0.5) 2.3rem,
        rgb(1, 83, 94, 0.5)5rem, 
        rgb(0, 34, 126, 0.5)10rem,
        rgb(0, 66, 75, 0.5)13.5rem,
        rgb(44, 4, 192, 0.5) 17rem,
        rgb(11, 99, 110, 0.5)22rem, 
        rgb(31, 16, 243, 0.5)31rem,
        rgba(0, 27, 145, 0.5)34rem
     );  
}
main{
    min-height: 100%
}

/*Footer*/
footer{
    background-color: black;
    padding: 5px 0rem;
}
.footer p{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer a{
    color: white;
}

/*Main Entrada*/
.producto1{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 3rem;
}
.producto1 img{
    background-image: url(../imagen/motor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    object-fit: cover;
    margin-left: 3rem;
}


.motor{
    margin-left: 3rem;
    padding-bottom: 2rem;
}
.producto1 p{
    margin-right: 4rem;
    padding-left: 3rem;
    max-width: 50rem;
    text-align: justify;
}
.anio{
    text-align: center;
    background-color: rgba(0, 0, 255, 0.205);
}
.anio span{
    color: #33a000;
}
.anio p{
    font-size: 6rem;
}
.cont-formulario{
    padding-top: 2rem;
    margin-left: 2rem;
}
.formulario{
    font-size: 3rem; 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 50rem;
    background-color: rgba(128, 128, 128, 0.377);
    border: 2px solid rgba(128, 128, 128, 0.377) ;
    padding-bottom: 3rem;
    padding-left: 2rem;
    margin-bottom: 5rem;
}
.campo input[type=text]{
    display: block;
    width: 80%;
    margin: 1rem 1rem 1rem 3rem; 
}
.campo-det{
    display: block;
}
.boton{
    text-align: center;
}
.boton input{
    background-color: #33a000;
    background-position: center;
    font-size: 2.5rem;
    border: none;
    border-radius: 0.5rem ;
}
.textarea{
    width: 40rem;
    height: 20rem;
    margin-bottom: 3rem;
}
@media(max-width: 800px){
    .producto1{
        display: flex;
        flex-direction: column;
        padding-right: 3rem;
    }
    .producto1 p{
        font-size: 1.25rem;
        padding-right: 0rem;
        margin-right: 0rem;
    }
    .textarea{
        width: 100%;
        max-width: 50rem;
    }
    .anio p{
        font-size: 3rem;
        padding: 0rem 1rem;
    }
    .formulario{
        font-size: 2rem; 
        width: 35rem;
    }
    .textarea{
        width: 30rem;
        height: 15rem;       
    }
}
@media(max-width: 500px){
    .textarea{
        width: 16rem;
        height: 9rem;
    }
    .formulario{
        font-size: 1.5rem; 
        width: 20rem;
    }
    .anio p{
        font-size: 2.5rem;
    }
    .boton input{
        font-size: 1.25rem;
    }
}

/*Main Nosotros*/
.Nosotros{
    padding-left: 3rem;
    padding-right: 3rem;
}

.empresa{
    padding-left: 3rem;
    background-color: rgba(0, 0, 255, 0.205);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
    place-items: center;
}
.empresa p{
    max-width: 100%;
}
.empresa img{
    max-width: 60%;
    max-height: 100%;
    padding-top: 3rem;
    object-fit: cover;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.fechas{
    
    max-width: 50rem;
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
}
.info-fechas-izq{
    text-align: right;
}
.info-fechas-izq p {
    font-size: 1.5rem;
}
.info-fechas-izq span{
    font-size: 3rem;
    font-weight: bold;
    color: #33a000;
}
.fechas-izq {
    max-width: 35rem;
}
.info-fechas-der{
    text-align: left;
}
.info-fechas-der p {
    font-size: 1.5rem;
}
.info-fechas-der span{
    font-size: 3rem;
    font-weight: bold;
    color: #33a000;
}
.fechas-der{
    max-width: 35rem;
    margin-left: 40rem;
}
@media(max-width: 800px){
    .Nosotros h1{
        font-size: 2.5rem;
    }
    .fechas{
        max-width:50rem ;
    }
    .fechas-izq{
        padding-right: 2rem;
        margin-right: 0rem;
    }
    .fechas-der{
        margin-left: 0rem;
    }
    
}
@media(max-width: 500px){
    .empresa p{
        font-size: 2rem;
    }
    .info-fechas-izq p{
        font-size: 1rem;
    }
    .info-fechas-izq span{
        font-size: 2rem;
    }
    .info-fechas-der p {
        font-size: 1rem;
    }
    .info-fechas-der span{
        font-size: 2rem;
    }
}





/*Main contactos*/
.informacion{
    margin: auto;
    border-radius: 1rem;
    width: 80%;
    border: 0rem;
    font-size: 2rem;
    color: white;
    padding-bottom: 5rem;
}
.informacion th{
    text-align: left;
}
.informacion a{
    color: white;
    font-weight: normal;
}
.informacion span{
    font-weight: normal;
}

.mapa{
    margin: 3rem;
}
.mapa iframe{
    width: 100%;
}
@media(max-width: 800px){
    .informacion{
        font-size: 1rem;
    }
    .mapa{
        align-items: center;
    }
    .mapa iframe{
        height:auto;
    }
}
/*Main Producto*/
.Producto{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 4rem;
}

.lista-motor{
    font-size: 2rem;
    width: 70%;
    text-align: justify;
}

.info-motor{
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 2rem;
}
.lista-motor dt{
    font-weight: bold;
    font-size: 3rem;
}
.lista-motor dd{
    margin-bottom: 2rem;
    color: white;
    font-size: 2rem;
}
dt{
    display: flex;
    align-items: center;
}
dt img{
    max-width: 4%;
}
@media(max-width: 800px){
    .Producto h2{
        font-size: 2rem ;
    }
    .info-motor{
        font-size: 1.4rem;
    }
    .lista-motor dd{
        font-size: 1.4rem;
    }
    .lista-motor dt{
        font-size: 2rem;
    }
}