html {
    box-sizing: border-box;
}
*, 
*:before, 
*:after {
box-sizing: inherit;
}
img{ 
    max-width: 100%;
    display: block;
}
h1{
    font-size: 50px;
}
a{
    text-decoration: none;
    color: black;
}
.contenedor{
    max-width: 1200px;
    margin-inline: auto;
}
/*Cabecera*/
.cabecera{
    display: flex;

}
.titulo{
    color:rgb(74, 15, 211);
    margin-top: 35px;
    margin-bottom: 50px;
    padding-left: 50px;
}
.navegacion-pagina{
    margin: 10px;
    padding-top: 5px;
    border-top: 5px solid rgba(0, 58, 250, 0.473);
    margin-inline-start: auto;    
}
.nav-pagina{
    margin: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 20px;
    text-align: center;
}
.nav-pagina a{
    background-color: rgba(5, 8, 182, 0.61);
}
.nav-pagina a:hover{
    background-color:rgba(69, 8, 139, 0.61);
}
.body{
    background-image: url(../imagen/Fondo.avif);
}